*, *:before, *:after {
  box-sizing: border-box;

}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-size: cover;
  background-color: #333333;
  background-image: url("../../images/GrayBlurBg.jpg");

  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  background: none no-repeat right 10px;
  background-size: contain;
  border-bottom: 10px;
  background-color: #333333;
  box-shadow: 3px 10px 10px black;
  h1 {
    display: inline-block;
    padding: 0 20px;
  }
  a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    &.active,
    &:hover {
      background-color: #333333;
    }
  }
}

section {
 padding: 20px;
 background-size: cover;
 background-color: #333333;
 background-image: url("../../images/GrayBlurBg.jpg");


 h4 {
  color: white;
  padding: 10px;
  font: Impact;
 }
 a {
  color: white;
 }
}

.accordion-toggle-no-icon:after{
  content: none;
}

.top-align {
  vertical-align: top;
}

.panel-heading-blue .accordion-toggle:after {
  vertical-align: top;
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: white;
}
.panel-heading-blue .accordion-toggle.collapsed:after {
    content: "\e080";
}

.panel-default {
  background: none !important;
  border: none !important;
}
.panel-heading {
  background-color: none !important;
  margin: none;
  padding: none !important;
  }
.panel-heading-blue{
  background-color: #02B3CE;
  color: white;
  margin: none;
  padding: none;
}
.panel-heading-darkgray {
  background-color: #292929;
  color: white;
  margin: none;
  padding: none;
}

.panel-group {
  margin-bottom: 0px !important;
  color: white;
  box-shadow: 3px 3px 10px #000000;
}
h4 {
  background-color: #0099EAB;
}

.targetListItem a {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 0;
  text-decoration: none;
  color: white;
}
.targetListItem a:hover {
  background: #eee;
}
.targetListItem a span {
  margin: 0 2px;
}
.targetListItem a span:first-child {
  font-weight: 900;
}

.regionListItem a {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
}
.regionListItem a:hover {
  background: #eee;
}
.regionListItem a span {
   margin: 0 2px;
 }
.regionListItem a span:first-child {
  font-weight: 900;
}

.regionListItem a {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
}
.regionListItem a:hover {
  background: #eee;
}
.regionListItem a span {
  margin: 0 2px;
}
.regionListItem a span:first-child {
  font-weight: 900;
}

.objectiveListItem a {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
}
.objectiveListItem a:hover {
  background: #eee;
}
.objectiveListItem a span {
  margin: 0 2px;
}
.objectiveListItem a span:first-child {
  font-weight: 900;
}

.resourceListItem a {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
}
.resourceListItem a:hover {
  background: #eee;
}
.resourceListItem a span {
  margin: 0 2px;
}
.resourceListItem a span:first-child {
  font-weight: 900;
}

.blutab {
  background-color: turquoise;
  color: white;
}
.nav-tabs {
  border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  background-color: #282828 !important;
  color: #fff !important;
  border-bottom: none !important;
}
.sidePanel {
  background-color: none !important;
  border: none;
}
.a {
  color: green !important;
}
.blu_row {
  background-color: #009EAB;
  color: white;
}
.search {
  color: gray;
  text-align: center;
}
.sidebar {
  padding: 0px;
}
.keyBar {
  background: rgba(0,0,0,0.5);
  height: 30px;
  color: gray;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.keyBox {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: green;
  display: block;
  align: center;

}
.keyLabel {
  text-align: right;
  padding-left: 25px;
}
.pad14 {
  padding-right: 14px;
}
.pad14_left {
  padding-left: 14px;
}
.logoSize {
  width: 20%;
  margin-top: -15px;
  margin-bottom: -15px;
  margin-left: 35px;
}
.panel-body {
  background: rgba(0,0,0,0.1);
  padding: 5px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}


.calendar {
  color: gray;
  background-color: none;
  text-align: center;

}
.darkBg {
  background-color: black;
}

.date-picker-icon {
            float: right;
            margin-right: 6px;
            margin-top: -30px;
            position: relative;
            z-index: 2;
}
.map {
  z-index: 0;
  padding: 0px !important;
  box-shadow: 3px 10px 10px black;
}
.react-flex-v2--flex-shrink-0 {
  background: rgba(0,0,0,0.1);
}
.react-flex-v2--row {
  background: rgba(0,0,0,0.1);

}
.blueText {
  color: #02B3CE;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  padding: 6px 0px 6px 0px !important;
}
.duration-btn {
  color: #02B3CE;
  background-color: white;
}

.selectAllNone {
  padding: 15px 15px;
}

.table2 {
  margin-top: 15px;
  padding-left: 2px;
  box-shadow: 1px 5px 18px black;
  color: #595959;
}

.Collapsible__contentOuter {
  padding-top: 5px;
}

.Collapsible__trigger {
  display: block;
  text-decoration: none;
  position: relative;
  padding: 10px;
  background: #02B3CE;
  color: white;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  height: 35px;

}

.Collapsible__trigger-sibling {
  position: relative;
}

.Collapsible__trigger:after {
  font-family: 'Glyphicons Halflings';
  content: "\e080";
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 50ms; }
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg); }
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey; }

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 50ms ease; }

.CustomTriggerCSS--open {
  background-color: darkslateblue; }

#selectableComponent {
  position: relative;
  text-align: center;
  //margin-top: -25px;
  padding-left: 7px;
  width: 100%;
}
.upperChart {
  box-shadow: 1px 5px 18px black;
  padding-bottom: 10px;
}
.lowerChart {
  margin-top: 15px;
  padding-bottom: 10px;
  box-shadow: 1px 5px 18px black;
}

.custom-tooltip {
  background-color: #d5d5d5;
  border-color: black;
  border: double;
  padding: 10px;
  transition: background-color 200ms ease;
}
.chart-header {
  background: rgba(255,255,255,0.1);
  color: gray;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  margin-left: -15px;
}
.dropdown select {
  border-color: #444444;
  color: gray;
  text-align: left;
  background-color: #262626;
  border-radius: 0px !important;
}
.dropdown {
  background-color: #262626;
  border-radius: 0px !important;
}
.drop-title{
  color: lightgray;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
}
.ranges li {
  color: #262626 !important;
}

.drop-right {
  float: right;
}
.drop-select {
  width: 100px !important;
  margin: 0px;
  background-color: #262626;
  border-color: #262626;
  line-height: 10px;
}
.bootstrap-select {
  width: 300px;
}

.bootstrap-select.btn-group .dropdown-menu li a {
  background-color: #262626;
  color: lightgray;
}
.bootstrap-select.btn-group .dropdown-menu {
  background-color: #262626;
  color: lightgray;
}
.chart-title {
  width: 106%;
  height: 200px;
  border: 4px;
  color: black;
  text-align: center;
}
.recharts-cartesian-axis-ticks {
  font-size: 12px;
}

.daterangepicker.dropdown-menu {
  background-color: #262626;
}
.ranges li.active {
  background-color: gray !important;
}
.ranges li ::hover {
  background-color: orange !important;
}
.applyBtn {
  background-color: #02B3CE !important;
  border-color: #02B3CE !important;
  drop-shadow: 3px 3px 10px black;
}
.btn-group>.btn {
  line-height: 10px;
  padding-top: 3px;
  padding-bottom: 4px;
  font-size: 12px;
}
.btn.focus, .btn:focus, .btn:hover {
  color: gray !important;
}


.tableHead {
  background-color: #262626;
  color: white;
}
.selectAllNone:hover {
  color: gray;
  text-decoration: none;
}
.selectAllNone:focus {
  color: gray;
  text-decoration: none;
}







/* .react-date-picker */
.react-date-picker__nav-bar-date {
  font-size: 20px;
  font-weight: bold;
  color: #02B3CE;
}
.react-date-picker__month-view--theme-default .react-date-picker__month-view-day--value .react-date-picker__month-view-day-text {
  background: #02B3CE !important;
  border: none !important;
  font-weight: bold !important;
}
.react-date-picker__month-view-day--active .react-date-picker__month-view-day-text{
  border: 2px solid #02B3CE !important;
}
.react-date-picker__date-format-spinner--theme-default{
  border-radius: 8px;
  padding: 2px;
}
.react-flex react-date-picker__date-format-spinner react-date-picker__date-format-spinner--theme-default react-flex-v2--align-items-center react-flex-v2--wrap react-flex-v2--row react-flex-v2--display-inline-flex {
  background: white !important;
}
.react-flex-v2--column react-flex-v2--display-inline-flex {
  background: white !important;
}
.react-date-picker__footer-button {
  background: #02B3CE !important;
  color: white;
  border: none;
  font-size: 15px !important;
  font-weight: bold;
}
.react-flex {
  background: #282828;
}
.react-date-picker__date-format-spinner-arrow{
  background: white;
  margin: -2px;
  border-radius: 8px;
}
.react-date-picker__date-format-spinner{
  background: white;
  font-size: 16px;
}
.react-date-field__picker {
  box-shadow: 3px 3px 10px black;
}




/* checkbox */
.control-group {
	display: inline-block;
	width: 200px;
	height: 10px;
	margin: 10px;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}
.control {
	font-size: 14px;
	font-weight: normal;
	position: relative;
	display: block;
	margin-bottom: 10px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 15px;
	height: 15px;
	background: #e6e6e6;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #262626;
}

.control--radio .control__indicator {
	border-radius: 50%;
}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 2.5px;
	left: 5.5px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}
